<div class="wrapper footer__wrapper">
  <div class="footer__content">
    <nav class="footer__nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    
    <div class="footer__cta">
      <a href="/contact" class="btn btn--primary">Get in Touch</a>
    </div>
  </div>
  <div class="footer__bottom">
    <span>&copy; {{ "now"|date("Y") }} {{site.name}}. All rights reserved.</span>
  </div>
</div>
