{# Cookie Consent Popup #}
<div id="cookie-consent" class="cookie-consent" style="display: none;">
    <div class="cookie-consent__content">
        <p>{{ __('We use cookies to enhance your experience. By continuing to visit this site you agree to our use of cookies.', 'portfolio') }}</p>
        <div class="cookie-consent__buttons">
            <button id="cookie-accept" class="cookie-consent__accept">{{ __('Accept', 'portfolio') }}</button>
            {# <button id="cookie-settings" class="cookie-consent__settings">{{ __('Settings', 'portfolio') }}</button> #}
        </div>
    </div>
</div> 