{#
  Base template for rendering WordPress blocks
  This template will be used as a fallback if a specific block template is not found
#}

<div class="wp-block {{ block.blockName|replace({'core/': '', 'acf/': ''}) }}">
    {% if block.content %}
        {{ block.content|raw }}
    {% endif %}
</div> 