// Typography Styles
h1,
.h1,
.h1 *,
h1 * {
  font-size: $font-5xl; // 60px
  font-weight: $font-bold; // Bold
  line-height: 1.2;
}

h2,
.h2,
.h2 *,
h2 * {
  font-size: $font-3xl; // 36px
  font-weight: $font-bold; // Bold
  line-height: 1.2;
  background-clip: text;
}

h3,
.h3,
.h3 *,
h3 * {
  font-size: $font-xl; // 24px
  font-weight: $font-semibold; // Semibold
  line-height: 1.3;
  background-clip: text;
}

h4,
.h4,
.h4 *,
h4 * {
  font-size: $font-lg; // 20px
  font-weight: $font-semibold;
  line-height: 1.3;
  background-clip: text;
}

h5,
.h5,
.h5 *,
h5 * {
  font-size: $font-md; // 18px
  font-weight: $font-semibold;
  line-height: 1.3;
  background-clip: text;
}

h6,
.h6,
.h6 *,
h6 * {
  font-size: $font-base; // 16px
  font-weight: $font-semibold;
  line-height: 1.3;
}

.body-large,
.body-large *,
.lead,
.lead * {
  color: $secondary;
  font-size: $font-md; // 18px
  font-weight: $font-regular; // Regular
  line-height: 1.5;
}

.body-regular,
p,
small,
span,
.body-regular *,
p *,
small *,
span * {
  color: $black;
  font-size: $font-base; // 16px
  font-weight: $font-regular; // Regular
  line-height: 1.5;
}

.body-small,
.body-small *,
.caption,
.caption * {
  color: $secondary;
  font-size: $font-sm; // 14px
  font-weight: $font-regular; // Regular
  line-height: 1.5;
}

// a:not(.header a),
// a:not(.btn) {
//   color: $primary;
//   text-decoration: none;
//   position: relative;
//   transition: color 0.3s ease;

//   &::after {
//     content: "";
//     position: absolute;
//     width: 100%;
//     height: 1px;
//     bottom: -2px;
//     left: 0;
//   }

//   &:hover {
//     color: $secondary;
//     &::after {
//     }
//   }
// }
