body {
  background-color: $black;
}
* {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 24px;
}

.block {
  padding: map-get($section-padding, "xl") 0;

  @media (max-width: 768px) {
    padding: map-get($section-padding, "lg") 0;
  }
}
